/*home style*/
.box1 {
    background: lightblue;
    padding: 10px;
    border: 2px solid blue;
    margin: 20px;
}

.box2 {
    background: lightgreen;
    padding: 20px;
    border: 3px dashed green;
    margin: 10px;
}
h2 {
    color: darkblue;
    font-family: Arial, sans-serif;
}
@font-face {
    font-family:Roboto;
    src: url( fonds/Roboto.zip);
}
p {
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
}



/*about syle*/
.box3 {
    background: lightyellow;
    padding: 15px;
    border: 1px dotted orange;
    margin: 15px;
}
.box4 {
    background: rgb(253, 208, 208);
    padding: 25px;
    border: 4px solid red;
    margin: 5px;
}
.character {
    font-weight: bold;
    color: darkred;
    
}
