* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background: #eee;
}

/* OUTER CANVAS */
.canvas {
    width: 520px;
    height: 520px;
    border: 10px solid #2b2727;
    background: #2b2727;   /* prevents white gaps */
    position: relative;
}

/* SHARED BOX STYLE */
.box {
    position: absolute;
    border: 8px solid #2b2727;
    margin: -4px;           /* closes thin white lines */
}

/* MAIN BIG RED BLOCK */
.big-red {
    background: #e64a33;
    width: 345px;
    height: 355px;
    top: 0;
    left: 170px;
}

/* LEFT SIDE CREAM BLOCKS */
.top-cream {
    background: #f2e9d8;
    width: 160px;
    height: 150px;
    top: 0;
    left: 0;
}

.mid-cream {
    background: #f2e9d8;
    width: 160px;
    height: 200px;
    top: 150px;
    left: 0;
}

/* BLUE BLOCK */
.blue {
    background: #0c8ea2;
    width: 160px;
    height: 160px;
    bottom: 0;
    left: 0;
}

/* BOTTOM LARGE CREAM */
.bottom-cream {
    background: #f2e9d8;
    width: 300px;
    height: 160px;
    bottom: 0;
    left: 170px;
}

/* SMALL RIGHT BLOCKS */
.small-yellow {
    background: #d9b317;
    width: 38px;
    height: 80px;
    bottom: 0;
    right: 0;
}

.tiny-cream {
    background: #f2e9d8;
    width: 38px;
    height: 70px;
    bottom: 90px;
    right: 0;
}
